<div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" class="pageContainer"
        fxLayoutAlign="center center" fxFlex.gt-sm="30%"  ngClass.gt-sm="containerMargin">
        <h1 class="pageTitle">{{ 'signup.titleBis' | translate | uppercase }}</h1>

        <div class="alreadyAnAccount">
            <span>{{ 'signup.account' | translate }}</span>
            <a mat-button routerLink="/login" color="primary">{{ 'login.title' | translate }}</a>
        </div>

        <form class="signupForm" [formGroup]="signupForm" (ngSubmit)="signup()" fxLayout="column"
            fxLayoutAlign="center center" fxLayoutGap="5%">
            <mat-form-field appearance="outline" class="signupFormField">
                <mat-icon matPrefix>email</mat-icon>
                <mat-label>{{ 'field.email' | translate }}</mat-label>
                <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                    placeholder="Ex. demo@gmail.com">
                <mat-error *ngIf="hasError('email', 'email') && !hasError('email', 'required')">
                    {{ 'field.emailError' | translate }}
                </mat-error>
                <mat-error *ngIf="hasError('email', 'required')">
                    {{ 'field.emailRequired' | translate }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="signupFormField">
                <mat-icon matPrefix>lock</mat-icon>
                <mat-label>{{ 'field.password' | translate }}</mat-label>
                <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher"
                    [type]="this.hidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="this.hidePassword = !this.hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="this.hidePassword">
                    <mat-icon>{{ this.hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="hasError('password', 'required')">
                    {{ 'field.passwordRequired' | translate }}
                </mat-error>
            </mat-form-field>

            <mat-checkbox color="primary" formControlName="terms" class="signupFormField">{{ 'signup.terms' | translate }}</mat-checkbox>

            <mat-card-actions>
                <button mat-flat-button color="primary" class="signupFormButton">{{
                    'signup.title' | translate | uppercase }}</button>
            </mat-card-actions>            
        </form>
    </div>
</div>