/* 
    Colors 
**/

// Background
$backgroundDefault: whitesmoke;
$backgroundLight: white;
$backgroundDark: grey;

// Divider
$dividerColor: grey;

/* 
    Space 
**/
// Padding
$smallPadding: 2%;
$mediumPadding: 5%;
$largePadding: 10%;
$xLargePadding: 20%;

// Margin
$smallMargin: 2%;
$mediumMargin: 5%;
$largeMargin: 10%;
$xLargeMargin: 20%;
